.one{
    width:100px;
    height:100px;
    background-color:red;
    animation:pereliv 2s infinite;
}
@keyframes pereliv{
    0%,100%{
        background-color:red;
    }
    50%{
        background-color:yellow;
    }
}
.two_one{
    display:flex;
    background-color:red;
    width:100px;
    height:100px;
    align-items:center;
    justify-content:center;
    animation:vtoroi 6s infinite;
}
.two_two{
    display:block;
    background-color:yellow;
    width:10px;
    height:10px;
    animation:tretii 6s infinite;
}
@keyframes vtoroi{
    25%{
        transform:scale(0.5);
        background-color:red;
    }
    25.1%{
        background-color:yellow;
    }
    50% {
        background-color: yellow;
        transform: scale(1);
    }
    75%{
        transform:scale(0.5);
        background-color:yellow;
    }
    75.1%{
        background-color:red;
    }
    100%{transform:scale(1);}
}

@keyframes tretii{
    25%{
        transform:scale(10);
        background-color:yellow;
    }
    25.1%{
        background-color:red;
    }
    50% {
        background-color: red;
        transform: scale(1);
    }
    75% {
        transform: scale(10);
        background-color: red;
    }

    75.1% {
        background-color: yellow;
    }

    100% {
        transform: scale(1);
    }
}